<footer>
	<div id="footer-left">
		<a href="mailto:weirayao@gmail.com"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/iscreamnearby"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/weirayao"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/weiranyao"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=rr_leUAAAAAJ&view_op=list_works&sortby=pubdate&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Weiran Yao
	</div>
	<div id="footer-right">
		For inquiries, I can be reached at: 
		<br>
		weirayao@gmail.com

	</div>
</footer>
